/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
*/

@import "compass/css3";

@mixin data-uri-bg($image, $properties: false){
  @if( $properties != false){
    background: inline-image("#{$image}") $properties;
    *background: url("../assets/"+$image) $properties;
  }
  @else{
    background: inline-image("#{$image}");
    *background: url("../assets/"+$image);
  }
}

ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

nav.top-bar{
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: 'Allerta', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  // a{
  //   font-family: 'Allerta', helvetica, sans-serif;
  // }
  li{
    color: #68a262;
    &.tagline{
      color: #8c9896;
      text-transform: uppercase;
      font-weight: bold;
      // position: absolute;
      // top: 20px;
      // left: 10px;
      // width: 300px;
    }
  }
  .top-bar-section {
    &.left{margin-top: 20px;}
    &.right{margin-top: 10px;}
    position: relative;
    
    li a:not(.button){
      line-height: 1.6em;
      padding: 0 1em;
    }  
  }
}


html, body {
  height: 100%;
}

#container {
  min-height: 100%;
}

#main{
  padding-bottom: 150px;
}
#footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear: both;
}

.grey-float {
  background: #f9f9f9;
  background: rgba(240,240,240,.7);
  padding: 1em;
  margin: 1em auto;
  border: 1px solid #bbb;
  @include border-radius(25px);
}
