// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home.index{
  #main{
    // position: absolute;
    background: image-url('sharing_1.jpg') repeat fixed;
    background-size: 100%;
    // height: 100%;

  }
  #search-box{
    form{
      margin-bottom: 0;
      input{
        margin-bottom: 0;
      }
    }
  }
}